.header{
    background-color: #34559e;
    color: #1877f2;
    width: 490%;
    height: 90px;
    float: left;
    margin: 0px;
}
body{
    margin: 0;
    float: left;
}
.login{
    color:black;
    width: 100%;
    height: 40px;
   
   
    margin-left: 00px;
    float: left;
 
   
}
.username{
    color:ivory;
    
    width:100%;
    height: 20px;
    float: left;
    margin-top: 0px;
    margin-left: 900px;
    font-family: Helvetica, Arial, sans-serif;

}
.password{
    width:100%;
    height: 20px;
    float: left;
    margin-top: -19px;
    margin-left: 1270px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    color: ivory;

}
.button{
margin-left: 260px;
margin-top: -20px;
color: #1877f2;
}
.fpassword{
    color: ivory;
    width: 10px;
    height: 20px;
    margin-top: -6px;
    font-size: 13px;
    margin-left: 100px;
    padding: 0px;
    float: left;
}
.rightSec{
    background-color:#f0f2f5;
    width: 50%;
    height: 750px;
    padding-top: 10px;
    margin-top: 30px;
    float: left;
}
.leftsec{
    background-color:#f0f2f5;;
    width: 50%;

    height: 750px;
    float: left;
    margin-top: 30px;
}
.fbLE{
    font-size: 58px;
    margin-left: -746px;
    margin-top: 171px;
    font-family:  Helvetica, Arial, sans-serif;
    color:#1877f2 ;
}
.para{
    font-size: 35px;
    margin-top: 244px;
    margin-left: 216px;
}
.fble2{
    
    width: 400px;
    height: 500px;
    background-color:transparent;
    margin-left: 200px;
    margin-top: -272px;
    background-color: #fff;
    border-color: #676565 ;
    border-radius: 10px;
  
}
.fbuser{
    width: 300px;
    height: 40px;
    size: 0px;
    margin-top: 70px;
    margin-left: 40px;
    
}
.fbpass{
    width: 300px;
    height: 40px;
    size: 0px;
    margin-top: 40px;
    margin-left: 40px;
}
.fbbtn
{
    background-color: #1877f2;
    width: 310px;
    height: 40px;
    color:white;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 40px;

}
.forPas{
    margin-left: 140px;
}
.line{
    height: 1px;
    width: 100%;
   background-color: #c2c2c2;
}
.cnw{
    background-color: #42b72a;
    color: #fff;
    margin-top: 20px;
    width: 310px;
    height: 40px;
    margin-left: 40px;
    float: left;
}
.footer
{
    margin-left: 250px;
    padding: 23px;
    font-size: 18px;
    text-decoration-line: unset;
    word-spacing: 20px;
    float: left;
}
.langF{
    margin-left: 250px;
    padding: 23px;
    font-size: 18px;
    text-decoration-line: unset;
    word-spacing: 20px;
    margin-top: 10px;
    background-color:transparent;
    width: 100%;
    height: 45px;
    margin-top: 1000px;
}
